@use "../abstracts/variables";

//BTN

@mixin button($bg-color, $text-color) {
  padding: 15px 20px;
  color: $text-color;
  border-radius: 7px;
  border: 1px solid $bg-color;
  background-color: $bg-color;
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
}
