@use "../abstracts/variables";

//NEWS
.card {
  margin-top: 2%;
  flex: 1;
  border: 1px solid variables.$color-white;
  border-radius: 20px;
  overflow: hidden;
  .card-img {
    width: 100%;
    height: 15rem;
    position: relative;
    a {
      text-decoration: none;
      position: absolute;
      color: white;
      z-index: 1;
      top: 5%;
      left: 5%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .news-card-paragraph {
    padding: 4%;
    color: variables.$color-white;
    .card-btn {
      a {
        text-decoration: none;
        color: variables.$color-white;
      }
    }
    .card-btn {
      a {
        border: 1px solid variables.$color-white;
        border-radius: 15px;
        padding: 0 2%;
      }
    }
  }
}

.img {
  object-fit: cover;
  object-position: center;
}

// EXTENSION

.card-extension {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .extension-img {
    width: 80%;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.gates-eternities {
  background-image: url("../img/img/bfheuakyrubvwr448i.webp");
}

.storm-dragons {
  background-image: url("../img/img/Bniwbiedb2.webp");
}

.foundation {
  background-image: url("../img/img/BbvlL835T_CMM_420x700.webp");
}

.innistrad {
  background-image: url("../img/img/Cwtyiugh346-420x700.webp");
}
